[submodule "plugins/phileTags"]
	path = plugins/phileTags
	url = git@github.com:Jecomire/phileTags.git
[submodule "plugins/phileTagsCloud"]
	path = plugins/phileTagsCloud
	url = git@github.com:Jecomire/phileTagsCloud.git
[submodule "plugins/phileContentVariables"]
	path = plugins/phileContentVariables
	url = git@github.com:PhileCMS/phileContentVariables.git
