{% include 'head_part.html' %}

<body>
<div id="container" class="pure-g-r">
<!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
	<header id="logo-container">
		<div id="logo-text"><a href="/blog/" title="goto Blog main page">Zen Notes</a></div>
		<div id="logo-subtext">Cogitatio materialis est</div>
	</header>

	{% include 'navigation.html' %}


	<!-- THE BLOCK   W I T H   P O S T S -->
	<div id="content">


{% if current_page.title == 'Welcome' %}
	<!-- P O S T   L O O P -->

	{% for page in pages %}
	{% if page.meta.date %}

		{% include 'post_preview_loop.html' %}

	{% endif %}
	{% endfor %}


{% else %}
	<!-- O N E   P O S T -->

		<div class="post">
			<h1>{{ meta.title }}</h1>

			<div class="meta">

			{% if meta.date %}
				<span class="meta-date">{{ meta.date|date(config.date_format) }}</span>
			{% endif %}



			{% if meta.tags_array %}
				<span class="meta-tags">Tags: 
				{% for tag in meta.tags_array %}
					<a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
				{% endfor %}
				</span>
			{% endif %}

			</div>

			{% spaceless %}{{ content }}{% endspaceless %}
		</div>


{% if meta.type != 'service' %} {# enable only for not service pages/ #}
	<div id="post-end">&nbsp;</div>

	<!-- Comments -->
	{% include 'comments.html' %}

{% endif %}


	<!-- E N D  P O S T -->
{% endif %}
	</div> <!-- content -->
</div> <!-- container -->


{% include 'footer.html' %}
